body {
  font-family: "Rubik", sans-serif;
  background: pink;
}

ul {
  text-align: center;
}
.form-control {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  margin-top: 10px;
  margin-right: -10px;
  max-width: 50%;
  padding: 10px;
  font-size: 18px;
}
.form-control:hover {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  margin-top: 10px;
  margin-right: -10px;
  max-width: 50%;
  padding: 10px;
  font-size: 18px;
}
.btn {
  color: black;
  background-color: transparent;
  border: none;
  opacity: 70%;
}

.btn:hover {
  background-color: transparent;
  border: none;
  opacity: 70%;
}
.main {
  color: #000;
  margin-top: 30px;
  font-size: 24px;
  padding: 10px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
}

.open {
  position: relative;
  margin-left: 400px;
}
.overview {
  margin-bottom: 20px;
}

.weather-app-wrapper {
  background-position: bottom;
  background-repeat: no-repeat;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 450px;
  margin: 0 auto;
}

.weather-temperature img {
  height: 24px;
  text-align: center;
  width: 24px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 16px;
  text-align: center;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  margin: 0;
  text-align: center;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.col-6 {
  margin-top: 200px;
}
.weather-forecast {
  margin-top: 30px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
